body {
      font-family: 'Roboto Mono', monospace;
}

h1{
    color: rgb(243, 239, 239);
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
}


h2{
    font-size: 35px;
    margin-bottom: 30px;
    color: #363636;
}

h5{
    margin-bottom: 0px;
}


b{
    color: black;
}

p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
}

.text-dark a {
    color:#111111;
}

a:hover{
    text-decoration: none;
    
}

a i{
    color: #fff;
    font-size: 20px;

}

section{
    padding: 120px 0;
}

.mt-30{
    margin-top: 30px;
}
.pd-10{
    padding: 10px;

}
.top-margin-xs{margin-top: 15px;}
.top-margin-sm{margin-top: 30px;}
.top-margin-lg{margin-top: 60px;}


.navbar {
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      min-height: 100px;
      z-index: 10000;
}

.nav-link{
    color: #111111;
}

.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{outline: none}

#hero{
    background-image: url('../img/bgdev.jpg');
    background-size: cover;
    min-height: 700px;
    padding-top: 350px;
    background-position: center;
}

#hero p{
    color: #fff;
}


.divider {
    border-bottom: 2px solid #f5f5f5;
}




.content-center{
    max-width: 800px;
    margin: 0  auto 60px auto;
    text-align: center;
    
}


#hero .content-center{
    background-color: rgba(0, 0, 0, 0.6);
}


.portfolio-container{
   position: relative;
   overflow: hidden;
   margin: 10px;
   border-radius:10px;
    
}


.filter{
    filter: grayscale(0.9);
}

.filter:hover {
    filter:none;

}


.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    filter: opacity(0.9)

}






.portfolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 5000;

}

.portfolio-details a h2,.portfolio-details a p {
    color: #fff;
}


.portfolio-details h2{
    margin-bottom: 0;
}


.bg-grey{
    background-color:#f5f5f5f5;
}


.member-container{
    position: relative;
    margin: 10px 0;
    overflow: hidden;
}

.member-details{
    position: absolute;
    color: #fff;
    bottom: 0px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 10px;
    transform: translateY(100%);
    transition: all ease-out 0.7s;
    
}

.member-container:hover .member-details{
    transform: translateY(0%);
}




.member-details span{
    font-size: 15px;
    color: #fff;

}
.member-details i{
    padding: 5px;
}


.pricing-container{
    margin: 15px 0;

}
.plans{
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
    
}

.plans h2{
    font-size: 50px;
    font-weight: 600;
}

.plans span{
    font-size: 30px;
}

.plan-light{
    background-color: #fff;
    border: 2px solid black;
}


.plan-dark{
    background-color: #1a1a1a; 
    color: #fff;
    border: 2px solid black;}

 .plan-dark h2{
     color:#fff;
 }   


.plans ul{
    list-style:square;
}


.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-dark{
    background-color: #111111;
    color: #fff;
    border: 2px solid #fff;
}

.full-width{
    width: 100%;
}

.carousel{
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
    
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}


.carousel-item p {
    font-size: 18px;
    font-weight: 400;
    color: #1a1a1a;
}


.rating i {
    color: #ffb944;
    font-size: 26px;
}


.carousel-indicatiors{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8 px;
}


.carousel-control-next,.carousel-control-prev{
    color: #fff;
    opacity: 1;
    width: 5%

}

.control-button {
    background-color: #1a1a1a;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #1a1a1a;
    border-radius: 50px;
    font-size: 20px;
}


.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}
.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;

}
.testimonial-user h6 {
    margin-bottom: 0px;
}

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}

.form-control:focus{
    border: 1px solid black;
    outline: none;
    box-shadow: none;

}


.btn-primary {
    background-color: black;
    color: #ffffff;
    border: 2px solid black;
}


.btn-primary:hover{
    background-color:black;
    color: #fff;
    border: 2px solid black;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem black;
}

.btn-primary:not(:disabled):not(.disabled):active{
    background-color: black;
    color: #ffffff;
    border: 2px solid black;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem black;
}


.bg-black{
    background-color: black;
}

footer {
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;}


footer a {
        color: #ffffff;
    }

footer a:hover {
        color: #ffffff;
    }



/* @medias query */


@media (max-width: 575.98px) { 
    h1{
        font-size: 40px;
        line-height: normal;
    } 

    section{
        padding: 50px 0;
    }

    #hero{
        padding-top: 200px;
    }


    #portfolio p{
        font-size: 15px;
        line-height: 1.5;
    }


    .plans{
        min-width: unset;
        padding: 40px;
    }

    .carousel-item p{
        font-size: 15px;
    }

 .testimonial-user {
     text-align: center;
 }

 .footer-menu {
    display: block;
    padding: 20px 0;
    font-size: 20px;
 }


}

@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) { 

    .plans{
        min-width: unset;
        padding: 40px 20px;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) {  }
